<div class="icon draggable desktop-element" data-beam-id="{{beamId}}" title="{{title}}">
    <div class="desktop-icon {{fileFolderClass}}">
        <img src="../../share/themes/default/{{iconImage}}" />
    </div>
    {{title}}
</div>		
